p 
{
  color: rgb(80, 79, 90);
  font-family: 'K2D', sans-serif;
}

h1 
{
  font-family: 'K2D', sans-serif;
  color: rgb(80, 79, 90);
}

h2
{
  font-family: 'K2D', sans-serif;
  color: rgb(80, 79, 90);
}

h3
{
  font-family: 'K2D', sans-serif;
  color: rgb(80, 79, 90);
}

li
{
  font-family: 'K2D', sans-serif;
}