
body {
  background-color: rgb(48, 48, 51);
  color: white;
  font-family: 'K2D', sans-serif;
}

a {
  color: rgb(52, 151, 243);
  text-decoration: none;
}

#up p {
  text-align: right;
  font-size: 130%;
}

.myForm input[type='text'] {
  display: block ;
  width: 80%;
  padding: 8px;
}

.myForm input[type='submit'] {
  color: black;
  font-weight: bold;
  background-color: rgb(200, 200, 206);
  display: block;
  padding: 10px 20px;
  border: none;
}
  
textarea {
  width: 81%;
  height: 10em;
  margin-top: 10px;
}

button {
  position:relative;
  top: -0.4em;
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 950px;
  min-width: 45px;
}
