body {
    background-color: #ffffff;
    font-family:'K2D', sans-serif;
    color: #333;
    font-weight: 300;
    text-align: center;
}

.container {
    padding: 0em 1em;
}

.button {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
}

h1 {
    font-size: 400%
}

.myForm input[type='text'] {
    padding: 8px;
    margin: auto;
    margin-bottom: 10px;
    width: 35%;
    display: block;
    text-align: center;
}


#sample-image {
    width: 45%;
}
